@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section style starts here */
.flower-header-container {
    max-width: 1920px;
    height: 850px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(229, 84, 115, 0.1);
    margin-top: 50px;
    margin-bottom: 178px;
}

.flower-header-text-content {
    width: 708px;
    height: 506px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.flower-header-text-content h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
}

.flower-header-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.flower-header-button {
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
}

.flower-header-image img {
    margin-top: 45px;
    /* width: 635px; */
    /* height: 100%; */
}

/* featured flower section starts here */
.featured-flowers-container {
    max-width: 1440px;
    height: 785px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin-bottom: 128px;
}

.featured-flowers-text {
    /* border: 1px solid #000; */
    width: 594px;
    height: 132px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.featured-flowers-text h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.featured-flowers-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.featured-flowers-images-container {
    width: 1440px;
    height: 605px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.first-flower,
.second-flower,
.third-flower {
    display: flex;
    flex-direction: column;

}

.first-flower-img,
.second-flower-img,
.third-flower-img {
    width: 454px;
    height: 538px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 32px;
}

.featured-flowers-images-container p {
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration-line: underline;
}

.first-flower-img {
    /* border: 1px solid green; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.second-flower-img {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third-flower-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* features styles */
.features-container {
    max-width: 1440px;
    height: 320px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
}

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.first-feature,
.second-feature,
.third-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.features-container p {
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 600;
}

/* sale styles */

.sale-container {
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: -30px;
    margin-bottom: 128px;
}

.sale-text {
    width: 594px;
    height: 228px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale-text h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    margin-bottom: 24px;
}

.sale-text p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
}

.sale-text button {
    width: 155px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border: none;
}

.instagram-container {
    max-width: 1440px;
    height: 576px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin-bottom: 128px;
}

.instagram-text-container {
    width: 594px;
    height: 132px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    margin-bottom: 48px;
}

.instagram-text-container h1 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    margin-bottom: 24px;
}

.instagram-text-container p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.instagram-images-container {
    display: flex;
    gap: 24px;
}

.deals-container {
    max-width: 1440px;
    height: 449px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("./images/Rectangle\ 9.png") ;
}

.deals-container h1 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.deals-container p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 48px;
}

.deals-container input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.deals-container input::placeholder {
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
}

.deals-container form button {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 16px;
}